#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.body-sider {
  height: 100vh;
  background-color: #faf8f4 !important;
  border-right: 0.5px solid #e2e2e2;
}

.body-header {
  background-color: #bb904a !important;
  border-bottom: 1px solid #5c4634;
  width: 100vw;
  height: 10vh;
  font-family: 'Sura', serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 40px;
  color: white;
}

.body-content {
  background: rgb(255, 255, 255)
} 

.body-footer {
  background: rgb(255, 255, 255) !important;
}
